.jumbotron {
  background-color: #668BB5;
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  color: #FEFEFE;
  border-bottom: solid;
  border-color: #FEFEFE;
}

h1 {
  font-weight: bold;
}

body {
  background: linear-gradient(#931818, #EBADAD);
}
.panel-heading {
  border-style: solid;
  border-color: #668BB5;
  background-color: #668BB5;
}

#instructions, #addressPanel, #representativePanel, #senatorPanel,
#governorPanel, #helpfulLinks, #stateRepPanel {
  background-color: #668BB5
}

#instructionPanel {
  border-style: solid;
  border-color: #668BB5;
}

.panel-title {
  color: #FEFEFE;
  font-family: 'Lato', sans-serif;
}

.panel-body {
  font-family: 'Lato', sans-serif;
}

#linkBox {
  padding: 15px 15px 5px 15px;
}

#link {
  margin-bottom: 20px;
}

#footer {
  margin: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#timer {
text-align: center;
font-size: 40px;
color: #FBF7F3 ;
padding-bottom: 10px;
}

#timerHead {
 text-align: center;
 font-family: 'Lato', sans-serif;
 font-size: 30px;
 color: #FBF7F3 ;
}

